@import 'fonts';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global variables. */
:root {
  /* Breakpoints */
  --xs: 480px;
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --2xl: 1536px;

  /* Constants */
  --header-height-mobile: 4.5rem;
  --header-height-desktop: 4.5rem;
  --promobar-height-mobile: 3rem; /* Ensure this is equivalent to PROMOBAR_HEIGHT_MOBILE in /lib/constants.ts */
  --promobar-height-desktop: 3rem; /* Ensure this is equivalent to PROMOBAR_HEIGHT_DESKTOP in /lib/constants.ts */
  --drawer-width: 23.5rem;
  --content-max-width: 96rem;
  /* Ensure updating this ratio as needed.  */
  --product-image-aspect-ratio: 3 / 4; /* Ensure this is equivalent to PRODUCT_IMAGE_ASPECT_RATIO in /lib/constants.ts */
}

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    @apply flex min-h-full w-full flex-col scroll-auto font-sans;
  }

  body {
    @apply text-body m-0 flex min-h-[var(--viewport-height)] w-full flex-col bg-base-100 text-base-content;
  }

  main {
    @apply flex-1;
  }

  h1 {
    @apply text-h1;
  }

  h2 {
    @apply text-h2;
  }

  h3 {
    @apply text-h3;
  }

  h4 {
    @apply text-h4;
  }

  h5 {
    @apply text-h5;
  }

  h6 {
    @apply text-h6;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

@layer components {
  /* text specific */
  .text-h1 {
    @apply overflow-anywhere
      font-heading
      text-4xl
      font-bold
      md:text-5xl
      xl:text-6xl;
  }
  .text-h2 {
    @apply overflow-anywhere
      font-heading
      text-3xl
      font-bold
      md:text-4xl
      xl:text-5xl;
  }
  .text-h3 {
    @apply overflow-anywhere
      font-heading
      text-2xl
      font-bold
      md:text-3xl
      xl:text-4xl;
  }
  .text-h4 {
    @apply overflow-anywhere
      font-heading
      text-xl
      font-bold
      md:text-2xl
      xl:text-3xl;
  }
  .text-h5 {
    @apply overflow-anywhere
      font-heading
      text-base
      font-bold
      md:text-lg;
  }
  .text-h6 {
    @apply overflow-anywhere
      font-heading
      text-sm
      font-bold;
  }
  .text-body {
    @apply font-sans
      text-base
      font-normal;
  }
  .text-body-sm {
    @apply font-sans
      text-xs
      font-normal;
  }
  .text-body-lg {
    @apply font-sans
      text-lg
      font-normal;
  }
  .text-link {
    @apply text-body
      font-bold
      uppercase
      underline;
  }
  .text-link-sm {
    @apply text-link
      text-xs
      underline-offset-4;
  }
  .text-caption {
    @apply font-sans
      text-sm
      font-bold
      uppercase;
  }
  .text-label {
    @apply font-sans
      text-xs
      font-normal
      uppercase
      tracking-wide;
  }
  .text-label-sm {
    @apply font-sans
      text-2xs
      font-normal
      uppercase
      tracking-wide;
  }
  .text-nav {
    @apply font-sans
      text-sm
      font-bold
      uppercase
      tracking-wide;
  }
  .text-superheading {
    @apply font-sans
      text-xs
      font-normal
      uppercase
      tracking-wide
      lg:text-sm;
  }

  /* swiper specific */
  .swiper-wrapper-center .swiper-wrapper {
    @apply flex
      items-center;
  }
  .swiper-offset-gradient-270-left {
    background: linear-gradient(
      270deg,
      var(--background) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    @apply pointer-events-none absolute bottom-0 left-[-8px] top-0 z-10 h-full w-[5.9375rem] -rotate-180 opacity-[60] lg:w-[8.125rem];
  }
  .swiper-offset-gradient-270-right {
    background: linear-gradient(
      270deg,
      var(--background) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    @apply pointer-events-none absolute bottom-0 right-[-8px] top-0 z-10 h-full w-[5.9375rem] opacity-[60] lg:w-[8.125rem];
  }
  .active-bullet-black .swiper-pagination-bullet-active {
    @apply bg-black;
  }
  .loading-shimmer {
    @apply pointer-events-none absolute inset-0 -translate-x-full animate-[shimmer_1.5s_infinite] bg-gradient-to-r from-transparent via-base-300 to-transparent;
  }
  /* multi-range slider style */
  .range-thumb {
    @apply pointer-events-none absolute h-0 w-full;
  }
  .range-thumb,
  .range-thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }
  /* For Chrome browsers */
  .range-thumb::-webkit-slider-thumb {
    @apply pointer-events-auto relative mt-[4px] h-3 w-3 cursor-pointer rounded-full border-none bg-base-100 shadow-[0_0_1px_1px_#ced4da];
  }
  /* For Firefox browsers */
  .range-thumb::-moz-range-thumb {
    @apply pointer-events-auto relative mt-[4px] h-3 w-3 cursor-pointer rounded-full border-none bg-base-100 shadow-[0_0_1px_1px_#ced4da];
  }
}

@layer utilities {
  /* hide scrollbar */
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  /* horizontal padding */
  .px-contained {
    @apply px-4
      md:px-8
      xl:px-12;
  }
  /* vertical padding */
  .py-contained {
    @apply py-8
      md:py-10
      xl:py-12;
  }
  .overflow-anywhere {
    overflow-wrap: anywhere;
  }
  .media-fill {
    @apply absolute
      left-1/2
      top-1/2
      h-full
      w-full
      -translate-x-1/2
      -translate-y-1/2
      object-cover;
  }
}
